.forecast-title
{
    font-size: var(--section-title-font-size);
    margin-top: var(--section-gap);
}

.forecast-container
{
    display: flex;
    flex-direction: column;
    gap:2rem;
    padding:12px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    width: fit-content;
    
}

.day-info
{
    display: grid;
    grid-template-columns: 150px 50px 150px;
    gap:2rem;
    font-size: 32px;
}

.day-info .state-icon
{
    width:30px;
}

.hidden
{
  display: none;
}