.next-hours-title
{
    margin-top: var(--section-gap);
    font-size: var(--section-title-font-size);
}

.next-hours-container
{
    display: flex;
    gap:3rem;
    background-color: rgba(255, 255, 255, 0.1);
    padding:12px 24px;
    border-radius: 8px;
    width: fit-content;
    max-width: 800px;
    flex: 1 0 auto;
    overflow: auto;
}

.next-hours-container::-webkit-scrollbar
{
    scrollbar-color: red;
}

.hour-info-container
{
    display: flex;
    flex-direction: column;
    gap:0.3rem;
    font-size: 20px;
}

.hour-info-container .state-icon
{
    width:35px;
}